.whole-rec-form {
  display: block;
  text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: #88d317;
}

form div {
  padding-top: 10px;
  padding-bottom: 10px;
}

.inner-form {
  width: 55%;
  margin: auto;
  border: 2px solid;
  border-radius: 5px;
  font-weight: normal;
  box-shadow: 10px 10px 10px black;
}

.recommendations {
  position: fixed;
  overflow: scroll;
  top: 200px;
  bottom: 10px;
  width: 100%;
}

legend {
  background-color: #000;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.output {
  font: 1rem 'Fira Sans', sans-serif;
}

input {
  margin: .4rem;
}

.submit-button {
  padding: 18px;
  opacity: 1.0;
}

button {
  color: rgb(255, 255, 255);
  font-weight: bold;
}
